.body , .header{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a , ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.header{
    display: flex;
    align-items: center;
    padding-right: 90px;
    padding-left: 90px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    margin-left: auto;
    
}

.second-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: #1f2937;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 90px;
    
}

.first-text{
    display: flex;
    font-size:48px ;
    color: #f9faf8;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    
} 

.sub-text{
    display: flex;
    color: #e5e7eb;
    width: 400px;
    height: auto;
    font-size: 18px;
    margin-bottom: 10px;
}

.container{
    display: flex;
}

.third-container{
    display: flex;
    width: 1900px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

.image-placeholder{
    display: flex;
    color: white;
    background-color: gray;
    height: 300px;
    width: 600px;
    justify-content: center;
    align-items: center;
    border: solid gold 1px;

}

.button{
    background-color: #3882f6;
     border: none;
     color: white;
    padding: 8px;
    text-align: center;
     text-decoration: none;
     display: flex;
     justify-content: center;
     width: 70px;
     border-radius: 10px;
}